{% extends 'skeleton/base.html' %}
{% load static %}
{% load extras %}
{% block page_title %}{{ obj.name }}{% endblock %}
{% block body_id %}profile{% endblock %}
{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}

{% block content %}
    {% include 'components/header.html' %}
    <div class="profile-heading" id="profile-background-particle">
        <span class="user-info">
            <img src="{{ obj.image.url }}" alt="{{ obj.name }}" class="circle-large profile-image">
        <h3 class="user-name">{{ obj.name }}</h3>
        </span>
    </div>
    <div class="container-fluid main-section">
        <div class="row">
            <div class="col-md-6">
                <div class="white-and-shadowed biography">
                    <h3><strong>About {% if obj.gender == 'male' %}him{% else %}her{% endif %}</strong></h3>
                    <p class="user-info"><strong>Date of birth: </strong>{{ obj.date_of_birth }}</p>
                    <p class="user-info"><strong>Gender: </strong>{% if obj.gender == 'male' %}Male{% else %}
                        Female{% endif %}</p>
                    <p class="user-info"><strong>Email: </strong>{{ obj.email }}</p>
                    <p class="user-info"><strong>City: </strong>{{ obj.city }}</p>
                    <p class="user-info"><strong>Country: </strong>{{ obj.country }}</p>
                    {% if obj != user and not is_friend %}
                        <button class="button-pink">Send request</button>
                    {% endif %}
                </div>
                {% if obj != user and mutual_friends %}
                    <div class="white-and-shadowed mutual-friends">
                        <h3><strong>Mutual friends</strong></h3>
                        {% for friend in mutual_friends %}
                            <div class="friend-section">
                                <img src="{{ friend.image.url }}" alt="{{ friend.name }}" class="circle-small">
                                <a class="friend-name" href="{% url 'core:profile' friend.pk %}">{{ friend.first_name }}
                                    <br/>{{ friend.last_name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6 posts-container">
                {% for post in posts %}
                    <div class="post-container">
                        <div class="poster-info">
                            <img src="{{ post.poster.image.url }}" class="circle-small post-avatar"
                                 alt="{{ post.poster.name }}">
                            <span class="poster-content">
            <a class="poster-name" href="{% url 'core:profile' post.poster.pk %}">{{ post.poster.name }}</a><br/><span
                                    class="poster-location">{{ post.poster.city }}, {{ post.poster.country }}</span>
          </span>
                        </div>
                        <div class="main-post">
                            {% if post.post_image %}
                                <div class="post-caption">{{ post.caption }}</div>
                                <img src="{{ post.post_image.url }}" alt="post" class="post-img">
                            {% else %}
                                <div class="texted-post">{{ post.caption }}</div>
                            {% endif %}
                        </div>
                        <div class="post-details">
                            <span class="post-likes">{{ post.likes.count }} Like(s)</span>
                            <span class="post-shares">{{ post.shares.count }} Share(s)</span>
                        </div>
                        <div class="post-actions">
                            <button class="post-action-button like {% if post|liked_by_user:user %}is-liked{% endif %}"
                                    data-post-id="{{ post.pk }}"><i class="fas fa-thumbs-up"></i> Like
                            </button>
                            <button class="post-action-button comment" data-post-id="{{ post.pk }}"><i
                                    class="fas fa-comments"></i> Comment
                            </button>
                            <button class="post-action-button share" data-toggle="modal" data-target="#sharePostModal"
                                    data-post-id="{{ post.pk }}"><i
                                    class="fas fa-share"></i> Share
                            </button>
                        </div>
                        <div class="comments-section {% if post.comments.all.count > 3 %}hide-comments{% endif %}">
                            <div class="my-comment">
                                <img src="{{ user.image.url }}" class="circle-small post-avatar" alt="profile">
                                <input class="write-comment" type="text" placeholder="write a comment"
                                       data-post-id="{{ post.id }}">
                            </div>
                            <div class="comments">
                                {% for comment in post.comments.all %}
                                    <div class="comment">
                                        <img src="{{ comment.commenter.image.url }}" class="circle-small post-avatar"
                                             alt="profile">
                                        <div class="comment-content">
                                            <a class="commenter-name"
                                               href="{% url 'core:profile' comment.commenter.pk %}">{{ comment.commenter.name }}</a>
                                            <span class="comment-message">{{ comment.message }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if post.comments.all.count > 3 %}
                            <div class="show-more">show {{ post.comments.all.count|add:'-3' }} more</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/vendor/particles.js' %}"></script>
    <script>
        $(document).ready(function () {
            particlesJS.load('profile-background-particle', '{% static 'js/vendor/particles-config.json' %}');
            $(".like").on('click', function (e) {
                var elem = $(e.target);
                var post_id = elem.data("post-id");
                if (elem.hasClass('is-liked')) {
                    elem.removeClass('is-liked');
                    $.ajax({
                        url: "{% url 'core:api:unlike-post' %}",
                        type: "post",
                        data: {
                            post_id: post_id,
                            user_id: "{{ user.pk }}",
                        },
                        success: function (data) {
                            showAlert("You Unliked the post");
                        }
                    });
                } else {
                    elem.addClass("is-liked");
                    $.ajax({
                        url: "{% url 'core:api:like-post' %}",
                        type: "post",
                        data: {
                            post_id: post_id,
                            user_id: "{{ user.pk }}",
                        },
                        success: function (data) {
                            showAlert("You liked the post");
                        }
                    });
                }
            });
            $(".comment").on("click", function (e) {
                var elem = $(e.target);
                elem.parent().parent().find($(".my-comment")).css("display", "block");
            })
            $(".write-comment").keypress(function (e) {
                if (e.which === 13) {
                    var elem = $(e.target);
                    var comment = elem.val();
                    var post_id = elem.data("post-id");
                    elem.val("");
                    elem.parent().css("display", "none");
                    var comment_section = elem.parent().parent().find($(".comments"));
                    var html = '<div class="comment">';
                    html += '<img src="{{ user.image.url }}" class="circle-small post-avatar" alt="profile">';
                    html += '<div class="comment-content">';
                    html += '<a class="commenter-name" href="{% url 'core:profile' user.pk %}">{{ user.name }} </a>';
                    html += '<span class="comment-message">' + comment + '</span>';
                    html += '</div></div>';
                    html = html + comment_section.html();
                    comment_section.html(html);
                    $.ajax({
                        url: "{% url 'core:api:comment-post' %}",
                        type: "post",
                        data: {
                            message: comment,
                            post_id: post_id,
                            user_id: "{{ user.pk }}",
                        },
                        success: function () {
                            showAlert("You commented on the post")
                        }
                    });
                    return false;
                }
            });
            $(".share").on("click", function (e) {
                var post_id = $(e.target).data("post-id");
                $("#post_id").val(post_id);
            });
            $(".friend_request_button").click(function (e) {
                e.preventDefault();
                send_friend_request(e.target, "{% url 'core:api:send_friend_request' %}");
            })
            $(".show-more").on("click", function () {
                $(this).siblings(".comments-section").removeClass("hide-comments");
                $(this).hide();
            })
        })
    </script>
{% endblock %}
