{% load static %}
<div class="dashboard-profile">
    <div class="profile-background" id="profile-background-particle"></div>
    <div class="profile-foreground">
        <img src="{{ MEDIA_URL }}{{ user.image.url }}" class="circle-large" alt="profile">
        <h4 class="profile-name">{{ user.name }}</h4>
        <p class="profile-location">{{ user.city }}, {{ user.country }}</p>
        <p class="profile-friends">{{ user.friends.count }} Friends</p>
        <a class="profile-link" href="{% url 'core:friends-suggestions' %}">Find more?</a>
    </div>
</div>

